*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

@font-face {
    font-family: get_schwifty;
    src: url(./assets/fonts/get-schwifty/get_schwifty.ttf);
 }

h1,h2{
    text-align: center;
}
h1{
    font-size: 120px;
    color: #03b0c7;
    font-family: get_schwifty;
    font-weight: lighter;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color:  #d2d851;
    text-shadow: 0.0em 0.0em 0.1em #d2d851;
}


h2{
    
    font-size: 30px;
    text-transform: uppercase;
    color:#D3D04F;
    border-radius: 10px;
    background-color: #17594a;
    width: fit-content;
    padding: 10px;
    text-align: center;
    margin: 25px auto;
}


body{
    background-color:#8eac50 ;
}

main{
    height: 100%;
}

main div{
    text-align: center;
}


header{
    background-color: #17594a;
    background-image: linear-gradient(180deg, #17594a 46%, #8eac50 100%);
    padding: 20px;
}

.navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

#logo{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.fold{
    background-color: #8eac50;
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
    gap:20px;
    padding: 20px;
    justify-items: center;
}

.fold li img{
    border-radius: 20px;
}



.card{
    display: flex;
    align-items: center;
    width: 380px;
    padding: 15px;
    justify-content: space-between;
    background-color: #17594a;
    border-radius: 10px;
    box-shadow: 3px 5px 19px -6px #3d3b3b;
}

.info{
    max-width: 140px;

}

.name{
    margin-bottom: 10px;
}

.info p{
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    text-align: left;
    color:#d2d851;
    
}

.img{
    width: 200px;
}

.portal{
    position: absolute;
    animation: fadeIn 1s forwards,rotate 6s linear infinite;
    /* animation: fadeIn ease 3s; */
    width: 200px;
}


footer{
       background-color: #17594a;
    background-image: linear-gradient(180deg, #8eac50  -2%,#17594a  90%);
    padding: 35px;
    text-align: center;
    display: block;
    font-size: 15px;
    color:#FFF;
}

#vermais{
    border: none;
    outline: 0;
    background: none;
    cursor: pointer;

}

#vermais p{
    position: relative;
    font-size: 27px;
    color: #03b0c7;
    font-family: 'Karla';
    top: 46px;
    font-weight: bold;
    -webkit-text-stroke: #d2d851;
    -webkit-text-stroke-width: 1px;
    text-shadow: 3px 4px 5px #000000;

}


@keyframes rotate {
    from {
      transform: rotate(0deg)
    }
    to {
      transform: rotate(360deg)
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


@media screen and (max-width:700px) {
    h1{
        margin-top: 10px;
        font-size: 50px;
    }

    .navbar{
        padding: 0;
        margin-top: 35px;
    }

    .img{
        width: 136px;
    }
}