*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}

@font-face {
    font-family: get_schwifty;
    src: url(/assets/fonts/get-schwifty/get_schwifty.ttf);
 }

h1,h2{
    text-align: center;
}
h1{
    font-size: 120px;
    color: #03b0c7;
    font-family: get_schwifty;
    font-weight: lighter;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color:  #d2d851;
    text-shadow: 0.0em 0.0em 0.1em #d2d851;
}


h2{
    font-size: 30px;
    text-transform: uppercase;
    color:#D3D04F;
    border-radius: 10px;
    background-color: #17594a;
    width: fit-content;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
}

body{
    background-color:#8eac50 ;
}

main{
    height: 100%;
}

main div{
    text-align: center;
}


header{
    background-color: #17594a;
    background-image: linear-gradient(180deg, #17594a 46%, #8eac50 100%);
    padding: 20px;
}

.navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.fold{
    background-color: #8eac50;
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
    gap:20px;
    padding: 20px;
    justify-items: center;
}

.fold li img{
    border-radius: 20px;
}

.card{
    display: flex;
    align-items: center;
    width: 380px;
    justify-content: space-around;
    background-color: #17594a;
}

.card div p{
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}

.img{
    width: 200px;
}

.portal{
    position: absolute;
    animation: fadeIn 1s forwards,rotate 6s linear infinite;
    /* animation: fadeIn ease 3s; */
    width: 200px;
}


footer{
    text-align: center;
    display: block;
    font-size: 15px;
    color:#FFF;
}


@keyframes rotate {
    from {
      transform: rotate(0deg)
    }
    to {
      transform: rotate(360deg)
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
